.container{
    align-items: center;
}
img{
    border-radius: 50%;
}
#bio{
    text-align: center;
}
#repos{
    text-align: center;
}
h2{
    color: #006266;
}
.card{
    background-color: #006266;
}