

<app-search (searchEmitter)="createUser($event)"></app-search>

<div class="container">
<div class="row">
<div *ngFor = "let name of repo" appHighlight class="col-md-6">
    <div class="card text-white" id="card">
        <!-- <div class="card-header">Header</div> -->
        <div class="card-body">
            <h4> Title:{{name.name}}</h4>
            <p>Description:{{name.description}}<p>
            <h6>Languages Used: {{name.language}}</h6>
            <h6>Created on : {{name.created_at|dateAgo}}</h6>
        </div>
      </div>
</div>

</div> 
</div>